<h1>New Recipe</h1>

<form action="/recipes" method="POST">
  <p>Recipe Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook Time (minutes): <input type="number" name="cook_time"></p>
  <input type="submit">
</form>